In [1]:
import pandas as pd

In [5]:
india_weather=pd.DataFrame({
    "city":["MUMBAI","DELHI","BANGLORE"],
    "temperature":[32,45,30],
    "humidity":[80,60,78]
    })
us_weather=pd.DataFrame({
    "city":["US","CHICAGO","ORLANDO"],
    "temperature":[21,14,35],
    "humidity":[68,65,75]
    })
print(us_weather)
print(india_weather)

      city  temperature  humidity
0       US           21        68
1  CHICAGO           14        65
2  ORLANDO           35        75
       city  temperature  humidity
0    MUMBAI           32        80
1     DELHI           45        60
2  BANGLORE           30        78

In [82]:
df=pd.concat([india_weather,us_weather])
print(df)
# with this  index are not comcurrent

TypeError: concat() got an unexpected keyword argument 'index'

In [40]:
df=pd.concat([india_weather,us_weather],ignore_index=True)
print(df)

       city  temperature  humidity
0    MUMBAI           32      80.0
1     DELHI           45      60.0
2  BANGLORE           30      78.0
3        US           21       NaN
4   CHICAGO           14       NaN
5   ORLANDO           35       NaN

In [38]:
# concatenation and keys
df=pd.concat([india_weather,us_weather],keys=["INDIA","US"])
print(df)
print("\n\n")
print(df.loc["US"])
print("\n\n")
print(df.loc["INDIA"])

             city  temperature  humidity
INDIA 0    MUMBAI           32      80.0
      1     DELHI           45      60.0
      2  BANGLORE           30      78.0
US    1        US           21       NaN
      2   CHICAGO           14       NaN
      3   ORLANDO           35       NaN



      city  temperature  humidity
1       US           21       NaN
2  CHICAGO           14       NaN
3  ORLANDO           35       NaN



       city  temperature  humidity
0    MUMBAI           32      80.0
1     DELHI           45      60.0
2  BANGLORE           30      78.0

In [93]:
temp_df=pd.DataFrame({
    "city":["MUMBAI","DELHI","BANGLORE"],
    "temperature":[32,45,30],
    },index=[1,2,3])
windspeed_df=pd.DataFrame({
    "city":["DELHI","MUMBAI"],
    "temperature":[7,2],
    },index=[1,0])
print(temp_df)
print(windspeed_df)

       city  temperature
1    MUMBAI           32
2     DELHI           45
3  BANGLORE           30
     city  temperature
1   DELHI            7
0  MUMBAI            2

In [94]:
df=pd.concat([temp_df,windspeed_df],axis=1)
df
# we have no data at 0 for temp_df so NaN
# we have no data at 2,3 for windspeed_df so Nan

       city  temperature    city  temperature
1    MUMBAI         32.0   DELHI          7.0
2     DELHI         45.0     NaN          NaN
3  BANGLORE         30.0     NaN          NaN
0       NaN          NaN  MUMBAI          2.0

In [95]:
s=pd.Series(["HUMID","DRY","RAIN"],name="event")
s

0    HUMID
1      DRY
2     RAIN
Name: event, dtype: object