In [1]:
import pandas as pd

In [5]:
india_weather=pd.DataFrame({
    "city":["MUMBAI","DELHI","BANGLORE"],
    "temperature":[32,45,30],
    "humidity":[80,60,78]
    })
us_weather=pd.DataFrame({
    "city":["US","CHICAGO","ORLANDO"],
    "temperature":[21,14,35],
    "humidity":[68,65,75]
    })
print(us_weather)
print(india_weather)

      city  temperature  humidity
0       US           21        68
1  CHICAGO           14        65
2  ORLANDO           35        75
       city  temperature  humidity
0    MUMBAI           32        80
1     DELHI           45        60
2  BANGLORE           30        78

In [6]:
df=pd.concat([india_weather,us_weather])
print(df)
# with this  index are not comcurrent

       city  temperature  humidity
0    MUMBAI           32        80
1     DELHI           45        60
2  BANGLORE           30        78
0        US           21        68
1   CHICAGO           14        65
2   ORLANDO           35        75

In [9]:
df=pd.concat([india_weather,us_weather],ignore_index=True)
print(df)

       city  temperature  humidity
0    MUMBAI           32        80
1     DELHI           45        60
2  BANGLORE           30        78
3        US           21        68
4   CHICAGO           14        65
5   ORLANDO           35        75