In [1]:
range(10)

range(0, 10)

In [2]:
type(range(10))

range

In [5]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range())

TypeError: range expected at least 1 argument, got 0

In [12]:
a=["ramesh","suresh","gopal"]
for i in a:
    print("hello mr."+ i)
print("all guest have been greeted")

hello mr.ramesh
hello mr.suresh
hello mr.gopal
all guest have been greeted

In [14]:
n=int(input("entter a number:"))
print("table of number",n)

for i in range(11):
    print(n*i)

entter a number:5
table of number 5
0
5
10
15
20
25
30
35
40
45
50

In [21]:
a=10
b=20
print(a, end="##")
print(b)

10##20

In [22]:
n=int(input("entter a number:"))
print("table of number",n)

for i in range(11):
    print(n*i,end=" ")

entter a number:5
table of number 5
0 5 10 15 20 25 30 35 40 45 50

In [26]:
a=["ramesh","suresh","gopal"]
for i in a:
    print("Hello MR."+ i,end=". ")
print("all guest have been greeted")

Hello MR.ramesh. Hello MR.suresh. Hello MR.gopal. all guest have been greeted

In [28]:
l=len(a)

In [29]:
for i in range(l):
    print("Hello MR."+a[i])

Hello MR.ramesh
Hello MR.suresh
Hello MR.gopal

In [39]:
for a in range (1,11):
    for i in range(1,11):
        print(a*i,end=" ")

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 6 12 18 24 30 36 42 48 54 60 7 14 21 28 35 42 49 56 63 70 8 16 24 32 40 48 56 64 72 80 9 18 27 36 45 54 63 72 81 90 10 20 30 40 50 60 70 80 90 100

In [38]:
for a in range (1,11):
    for i in range(1,11):
        print(a*i,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [40]:
for a in range (1,11):
    for i in range(1,11):
        print(a*i,end=" ")
        break

1 2 3 4 5 6 7 8 9 10

In [45]:
for a in range (1,11):
    for i in range(1,11):
        print(a*i,end=" ")
    print()
    print()
    print()

1 2 3 4 5 6 7 8 9 10


2 4 6 8 10 12 14 16 18 20


3 6 9 12 15 18 21 24 27 30


4 8 12 16 20 24 28 32 36 40


5 10 15 20 25 30 35 40 45 50


6 12 18 24 30 36 42 48 54 60


7 14 21 28 35 42 49 56 63 70


8 16 24 32 40 48 56 64 72 80


9 18 27 36 45 54 63 72 81 90


10 20 30 40 50 60 70 80 90 100

In [54]:
for a in range(1,6):
    for i in range(1,6):
        print(a,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [55]:
for a in range(1,6):
    for i in range(1,6):
        print(i,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [56]:
for a in range(1,6):
    for i in range(1,a+1):
        print(a,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [57]:
for a in range(1,6):
    for i in range(1,a+1):
        print(i,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [58]:
for a in range(1,6):
    for i in range(1,a+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [60]:
s=0
for a in range(1,6):
    for i in range(1,a+1):
        print(s,end=" ")
        s+=1
    s+=5
    print()

0
6 7
13 14 15
21 22 23 24
30 31 32 33 34

In [63]:
s="@#$"
for a in range(1,6):
    for i in range(a+1,1,-1):
        print(s,end=" ")
        s=s+"@#$"
    print()

@#$
@#$@#$ @#$@#$@#$
@#$@#$@#$@#$ @#$@#$@#$@#$@#$ @#$@#$@#$@#$@#$@#$
@#$@#$@#$@#$@#$@#$@#$ @#$@#$@#$@#$@#$@#$@#$@#$ @#$@#$@#$@#$@#$@#$@#$@#$@#$ @#$@#$@#$@#$@#$@#$@#$@#$@#$@#$
@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$ @#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$ @#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$ @#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$ @#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$@#$

In [65]:
for a in range(5,0,-1):
    for i in range(1,a+1):
        print(i,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [66]:
for a in range(5,0,-1):
    for i in range(1,a+1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [67]:
for a in range(1,6):
    for i in range(1,a+1):
        print("*",end=" ")
    print()
for a in range(5,0,-1):
    for i in range(1,a+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [71]:
for a in range(1,6):
    for i in range(1,a+1):
        print("*",end=" ")
    print()
for a in range(5,0,-1):
    for i in range(1,a+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*